#principalpane{
    -fx-background-radius: 15;
    -fx-background-color: #D9D9D9;
    -fx-border-style: solid;
    -fx-border-radius: 15;
    -fx-border-width: 1.5;
}

#titulo{
    -fx-background-color: linear-gradient(to right,#DBFEFF, #E3E3E3);
    -fx-background-radius:20;
    -fx-padding: 0px 0px 0px 30px;
}

#centerpane{
    -fx-border-style: solid;
    -fx-border-radius: 30;
    -fx-border-width: 3;
    -fx-border-color: gray;
}

#centerpane1{
    -fx-border-style: solid;
    -fx-border-radius: 30;
    -fx-border-width: 3;
    -fx-border-color: gray;
}

#h1{
    -fx-font-size: 20;
    -fx-font-weight: bold
}

#h2{
    -fx-font-size: 18;
}

#btngenerarticket{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius:8;
    -fx-background-color: 
        linear-gradient(from 0% 80% to 0% 100%, #CFCFCF 0%, #696969 100%),
        #CFCFCF,
        #696969,
        radial-gradient(center 50% 50%, radius 100%, #FFB8CE, gray);
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,.75),4,0,0,1);
    -fx-font-size: 16;
}

#btngenerarticket:hover{
    -fx-background-color: 
        linear-gradient(from 0% 80% to 0% 100%, #FFB8CE 0%, gray 100%),
        #CFCFCF,
        #696969,
        radial-gradient(center 50% 50%, radius 100%, #FFB8CE, gray);
}

#btngenerarticket:pressed{
    -fx-padding: 11 16 14 16;
    -fx-background-insets:2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
}