#principalpane{
    -fx-background-radius: 15;
    -fx-background-color: #D9D9D9;
    -fx-border-style: solid;
    -fx-border-radius: 15;
    -fx-border-width: 1.5;
}

#titulo{
    -fx-background-color: linear-gradient(to right,#DBFEFF, #E3E3E3);
    -fx-background-radius:20;
    -fx-padding: 0px 0px 0px 30px;
}

#centerpane{
    -fx-border-style: solid;
    -fx-border-radius: 30;
    -fx-border-width: 3;
    -fx-border-color: gray;
}

#centerpane1{
    -fx-border-style: solid;
    -fx-border-radius: 30;
    -fx-border-width: 3;
    -fx-border-color: gray;
}

#h1{
    -fx-font-size: 20;
    -fx-font-weight: bold
}

#h2{
    -fx-font-size: 18;
}